<div class="container" *ngIf="user">
    <h1>
        TITLE
    </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    User Information
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="user_name">
                        Name
                    </label>
                        <input fullName #userName="ngModel" type="text" id="user_name" class="form-control" [(ngModel)]="user.name" />
                        <span class="alert alert-danger" *ngIf="userName.errors?.fullName">Please enter a full Name</span>
                    </div>
                    <div class="form-group">
                        <label for="user_email">
                        Email
                  </label>
                        <input id="user_email" class="form-control" [(ngModel)]="user.email" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="user_isEmployee">
                    <input  id="user_isEmployee"
                            type="checkbox"
                           [(ngModel)]="user.isEmployee" />
                            Employee
                  </label>
                    </div>
                    <div class="form-group">
                        <label for="departmentId">
                        Department
                  </label>
                        <select id="departmentId" class="form-control" [(ngModel)]="user.department">
                            <option></option>
                      <option *ngFor="let department of departments" [value]="department.id">
                            {{department.name}}
                      </option>
                  </select>
                    </div>
                </div>
            </div>
            <phone-editor #phoneEditor [(phones)]="user.phones">
            </phone-editor>
            <button (click)="clearPhones()">Clear Phones</button>
        </div>
        <div class="col-md-4 ">
            <pre>{{ user | json }}</pre>
        </div>
    </div>
    <button class="btn btn-success btn-block btn-lg" (click)="save()">
        Save and Close
    </button>
    <button class="btn btn-danger btn-block btn-lg" (click)="delete()">
        Delete User
    </button>
    <button class="btn btn-warning btn-block btn-lg" (click)="cancel()">
        Cancel
    </button>
</div>