<div class="container">
    <h1>
        TITLE
    </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    User Information
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="user_name">
                        Name
                    </label>
                        <input type="text" id="user_name" class="form-control" [(ngModel)]="user.name" />
                    </div>
                    <div class="form-group">
                        <label for="user_email">
                        Email
                  </label>
                        <input id="user_email" class="form-control" [(ngModel)]="user.email" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="user_isEmployee">
                    <input  id="user_isEmployee"
                            type="checkbox"
                           [(ngModel)]="user.isEmployee" />
                            Employee
                  </label>
                    </div>
                    <div class="form-group">
                        <label for="departmentId">
                        Department
                  </label>
                        <select id="departmentId" class="form-control" [(ngModel)]="user.department">
                            <option></option>
                      <option *ngFor="let department of departments" [value]="department.id">
                            {{department.name}}
                      </option>
                  </select>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    Phone numbers
                </li>
                <li class="list-group-item" *ngFor="let phone of user.phones">
                    {{ phone.number }}
                    <span class="badge">
                        {{ phone.type }}
                    </span>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{_temp.phone.type}}
                        <span class="caret"></span>
                     </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let type of ['home', 'work', 'fax', 'other']">
                                    <a href="javascript:void(0);" (click)="_temp.phone.type = type">
                                        {{type}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <input type="text " class="form-control " placeholder="Add Phone... " [(ngModel)]="_temp.phone.number" />
                        <span class="input-group-btn ">
                    <button class="btn btn-info " (click)="addPhone()">
                        Add
                    </button>
                  </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 ">
            <pre>{{ user | json }}</pre>
        </div>
    </div>
</div>